* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(images/background.jpg); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #93e0ed;
}

ul {
	list-style-type: none;
}
ul.navbar-nav li span {
	color: white; 
	text-shadow: black 3px 3px 3px;
}

/*ul.navbar-right {
	margin-right: 2em;
}
*/
.jumbotron {
	background-image: url(images/body_background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	backface-visibility: inherit;
	margin-bottom:0;
	position: relative;
}

div.banner-title {
	width: 40%;
	display: inline-block;
}

div.banner-text {
	width: 20%;
	margin-left: 2em;
	display: inline-block;
}

div.banner-text p:first-child {
	font-size: 2vw;
	color: #2b9d16f5;
	text-align: left;
}
div.banner-text p:last-child {
	font-size: 2vw;
	color: #2b9d16f5;
	text-align: right;
}

div.banner-title h1{
	letter-spacing: 0.3em;
	text-align: left;
	color: #32533293;
	font-size: 5vw;
}
div.banner-title h3 {
	font-size: 2.5vw;
	color: #32533293;
 }
div.container-fluid {
	padding: 0 2em;
}
