h3.content-title {
	font-size: 222%;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 2em;
}
div.panel {
    background-color: #ffffff38;
}

div.hot-blog {
	margin: 0 auto;
	text-align: center;
	padding-top: 2em;
	margin-bottom: 4em;
}
div.hot-blog ul li {
	text-align: left;
	text-indent: 2em;
}
div.panel-heading {
	border-bottom: 1px solid #eee;
}

div#chart-container {
	margin: 0 auto;
	height: 20em;
	min-width: 20em;
	max-width: 30em;
}
.jumbotron {
	height: 200px;
	background-color: #f8f8f9;
	border-bottom: 1px solid #eee;
}

#banner h2 {
	text-align: center;
	position: relative;
	color: #8888bb;
	font-size: 40px;
}
#banner p {
	text-align: center;
	position: relative;
	color: #8888bb;
}
#banner-title {
	text-align: center;
}