{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap -->
	<link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="{% static 'jquery.min.js' %}"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	{% block header_extends %}{% endblock %}
</head>
<body>
	<div class="jumbotron text-center">
		<div class="banner-title">
			<h1>高山流水</h1>
			<h3>找个读懂你的人</h3>
		</div>
		<div class="banner-text">
			<p>各有各自音</p>
			<p>各自有知音</p>
		</div>
		
	</div>
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="{% url 'home' %}">何处觅知音</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
			    <ul class="nav navbar-nav">
			        <li class="{% block nav_home_active %}{% endblock %}"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;首页</a></li>
			        <li class="{% block nav_blog_active %}{% endblock %}"><a href="{% url 'blog_list' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;博客</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    {% if not user.is_authenticated %}	
			        <li><a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a></li>
			        <li><a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a></li>
			    {% else %}
			            <li class="dropdown">
			            <a href="{% url 'get_user_info' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">您好,{{ user.get_username_or_nickname }}<span class="caret"></span></a>
			            <ul class="dropdown-menu">
			                <li><a href="{% url 'get_user_info' %}">个人资料</a></li>
			                {% if user.is_staff or user.is_superuser %}
			                <li><a href="{% url 'admin:index' %}">后台管理</a></li>
			                {% endif %}
			                <li><a href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a></li>
			            </ul>
			        </li>
			    {% endif %}
			    </ul>
			</div>
		</div>
	</div>
	{% block content %}{% endblock %}
	<!-- Modal -->
	<div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		    	<form id="login_modal_form" action="" method="POST">
    		        <div class="modal-header">
    			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			        <h4 class="modal-title" id="myModalLabel">登录</h4>
    		        </div>
    			    <div class="modal-body">
    			        {% csrf_token %}
    			        {% for field in login_modal_form %}
    			        	<label for="{{ field.id_for_label }}">{{ field.label }}</label>
    			        	{{ field }}
    			        	<p class="text-danger">{{ field.errors.as_text }}</p>
    			        {% endfor %}
    			    <span id="login_modal_tip" class="text-danger pull-left"></span>
    			    </div>
    		        <div class="modal-footer">
    		        	<button type="submit" class="btn btn-primary">登录</button>
    			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    		        </div>
		    	</form>
		    </div>
		</div>
	</div>
	<script type="text/javascript">
		$('#login_modal_form').submit(function(){
			event.preventDefault();
			$.ajax({
				url: "{% url 'login_for_modal' %}",
				type: 'POST',
				data: $(this).serialize(),
				cache: false,
				success:function(data){
					if(data['status']=='SUCCESS'){
						window.location.reload();
					}else{
						$('#login_modal_tip').text('用户名或密码不正确');
					}
				},
				error: function(xhr){
					console.log(xhr);
				},
			});
			// return false;
		})
	</script>
	{% block script_extends %}{% endblock %}
</body>
</html>
