{% extends 'base.html' %}
{% load staticfiles %}
{# 页面标题 #}
{% block title %}见分晓{% endblock %}

{# css拓展 #}
{% block header_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
	<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script>
        window.onload = function(){
            var banner = document.getElementById("banner");
            var bannerTitle = document.getElementById("banner-title");
            
            banner.onmouseover = function(){
                bannerTitle.innerHTML = "笨鸟不止要先飞";
            }
            banner.onmouseout = function(){
                bannerTitle.innerHTML = "生命不止，奋斗不息";
            }
        }
    </script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{# 页面内容 #}
{% block banner %}
<div class="jumbotron" id="banner">
    <h2>学习之路</h2>
    <p id="banner-title">生命不止，奋斗不息</p>
</div>
{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h2 class="panel-title">文章分类</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                            <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a>({{ blog_type.blog_count }})</li>
                            {% empty %}
                            <li>暂无分类~</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-sm-3 col-md-3 col-lg-3">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                     <h2 class="panel-title">最新文章&nbsp;<a href="{% url 'blog_list' %}">more></a></h2>
                     </div>
                     <div class="panel-body">
                         <ul class="blog-types">
                             {% for blog in newest_blogs %}
                             <li><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></li>
                             {% empty %}
                             <li>暂无分类~</li>
                             {% endfor %}
                         </ul>
                     </div>
                 </div>
             </div>   
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="tabbable" id="tabs-50475">
                    <ul class="nav nav-tabs">
                        <li class="active">
                             <a href="#panel-15109" data-toggle="tab">热门排行</a>
                        </li>
                        <li>
                             <a href="#panel-381593" data-toggle="tab">阅读量</a>
                        </li>
                        <li>
                             <a href="#panel-381594" data-toggle="tab">公众号</a>
                        </li>
                    </ul>
                    <div class="tab-content row">
                            <div class="col-md-10 tab-pane active" id="panel-15109">
                                <div class="hot-blog">
                                    <ul>
                                        {% for hot_blog in hot_blogs %}
                                        <li><a href="{% url 'blog_detail' hot_blog.object_id %}">{{ hot_blog.content_object.title }}</a>({{ hot_blog.read_num }})</li>
                                        {% empty %}
                                        <li>暂无排行</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>    
                            <div class="col-md-10 tab-pane" id="panel-381593">
                                <div id="chart-container"></div>
                            </div>
                            <div class="col-md-12 tab-pane" id="panel-381594">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="qr-code" src="{% static 'images/qrode.jpg' %}">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="img-desc">你最高级的投资，就是投资你自己</p>
                                        <p>
                                        因为在这世界上最不会贬值的投资，就是我们所付出的努力。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                  // 标题
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                title: { text: '前7日阅读'},
            },
            yAxis: {
                title: {
                    text: null               // y 轴标题
                },
                labels: {
                	enabled: false
                },
                gridLineDashStyle: 'Dash'
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }},                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
            	enabled: false
            },
            credits: {
            	enabled: false
            },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('chart-container', options);

	</script>
    
   
{% endblock %}
